@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

body {
    background-color: var(--main-bg);
    font-family: var(--font);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.nft-card {
    background-color: var(--card-bg);
    max-width: 350px;
    height: 595px;
    border-radius: 15px;
    padding: 24px;
}

.nft-img {
    width: 300px;
    height: 300px;
    position: relative;
    display: flex;
}

.nft-img img {
    width: 100%;
    height: 100%;
    border-radius: 7px;
}

.nft-img::before {
    content: url(../images/icon-view.svg);
    position: absolute;
    width: 100%;
    height: 100%;
    background: center center no-repeat var(--before-medium);
    border-radius: 7px;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nft-img:hover:before{
    opacity: 1;
}

.nft-name {
    color: white;
    font-size: 22px;
    margin: 25px 0 16px;
    font-weight: 600;
}

.nft-name:hover {
    color: var(--primary-medium);
}

.description {
    color: var(--primary-soft);
    font-size: var(--paragraph-size);
    font-weight: 300;
    line-height: 27px;
}

.wrapper-price {
    display: flex;
    justify-content: space-between;
    margin: 21px 0;
}

.price {
    color: var(--primary-medium);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}

.price::before {
    content: '';
    width: 10px;
    height: 20px;
    background: url(../images/icon-ethereum.svg) center center no-repeat;
    margin-right: 7px;
}

.time {
    color: var(--primary-soft);
    display: flex;
    justify-content: center;
    align-items: center;
    /* letter-spacing: 1px; */
}

.time::before {
    content: '';
    width: 15px;
    height: 15px;
    background: url(../images/icon-clock.svg) center center no-repeat;
    margin-right: 7px;
}

.wrapper-creator {
    display: flex;
    padding: 20px 0;
    border-top: solid 1px var(--line);
    align-items: center;
}

.wrapper-creator img {
    width: 33px;
    border-radius: 50%;
    border: solid 1px white;
}

.wrapper-creator p {
    margin-left: 15px;
    color: var(--primary-soft);
}

.wrapper-creator p a {
    color: white;
}

.wrapper-creator p a:hover {
    color: var(--primary-medium);
    cursor: pointer;
}







.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }